
.breve{
    background: rgb(236,189,84);
    background: linear-gradient(45deg, rgba(236,189,84,1) 0%, rgba(232,101,45,1) 35%, rgba(173,18,130,1) 65%, rgba(81,84,198,1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

    p{
        margin: 0;
    }
}


h1.crm-mais{
    font-size:6rem;
}
h1.c-at{
    font-size:5rem;
    line-height:4.8rem;
}

.box-central{

    padding: 0 3rem 0 3rem;

    .banner-content{

        ul{
            margin-bottom: 1rem;

            svg{
                color: $info;
                width: 1rem;
            }
        }
    }

    .man-central{
        z-index: 10;
        bottom: 0;
        right:0;
        display: flex;
    }
    .lista-contatos{
        z-index: 1;
        top: -4rem;
        left:-2rem;
    }
    .robo{
        z-index: 100;
        top: 0;
        right:0;
    }
    .icons-msg{
        z-index: 100;
        bottom: -5rem;
        left:0;
    }
    .nav-msg{
        z-index: 100;
        bottom: 5rem;
        right:-2rem;
    }

    .box-man{
        height:35rem;
    }
}

.automatize{
    padding-bottom: 10rem;
}

#action-home{
    position: relative;
    top: -8rem;
}

.icons-social{

    li{
        margin: 0 1rem 1rem 0;
    }
}

@media (max-width: 760px)
{
    .nav-tabs {
        .nav-item{
        font-size: 1em!important;
        }
    }
    .box-central {
        
        .nav-msg{
            bottom: 5rem;
            right:0em;
        }
        .lista-contatos{
            top: 6em;
        }
        .robo{
            top: 11em;
            right:0em;
        }
        .icons-msg{
            left:9em;
        }
    }

}