
.box-meu-plano{
    background: $gradient-black;
}

.meu-plano{
    height:24rem;
}

.tabela{
    background-color: blueviolet;
    padding:10rem;
    color:white;
}

th, td{padding: 1em; border: 1px solid #ccc;}

.classe-v,.classe-x{
    text-align: center;
}
.classe-v b{
    color:green;
}

.classe-x b{
    color:red;
}

.w-33{
    width:30%;
}

.table-plano tr:nth-of-type(odd){
    background-color: #f2f2f2;
}
.top-tabela{
    background-color: $primary!important;
    color: $white;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond('phone-land'){
		grid-template-columns: 1fr;
	}
	@include respond('phone'){
		grid-template-columns: 1fr;
	}
}


.pricingtable-wrapper.style-2{
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .pricingtable-footer{

        a{
            display: block;
        }
    }
    svg{
        color: $info;
    }
}

.mulher-planos{
    bottom: 0em;
    right: 5em;
}

.central-whats{
    top: -13em;
}

.preco{
    color: $info;
}

.pricingtable-features{
    li{
        padding: 5px 0;

        svg{
            color: $info;
        }
    }

}

@media (max-width: 760px){
    .meu-plano{
        height:20rem;
    }
    .central-whats{
        top: -4em;
    }
    
    .box-whats{
        height: 20em;
    }
}